:root {
    --heading-font: 'Josefin Sans',
        sans-serif;
    --text-font: 'Joan',
        serif;
    --first-color: #deecfc;
    --second-color: #b9ceeb;
    --third-color: #87a8d0;
    --fourth-color: #c3b4d2;
}
html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
   flex-direction: column;
    font-family: var(--text-font);
    background: var(--first-color);

}
main {
    flex-grow: 1;
}
footer {
    flex-shrink: 0;
}

h1, h2 {
    font-family: var(--heading-font);
    text-align: center;
}
p {
    text-align: justify;
}
.img-logo {
    width: 200px;
}
.main-navigation {
    background-color: var(--first-color);
    padding: 0;
}
.main-menu {
    justify-content: end;
    font-size: 20px;
}
.header-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bali.jpeg);
    background-size: cover;
    color: #fff;
    padding: 200px 10px;
    text-align: center;
}
.header-section h2 {
    font-family: var(--text-font);
    margin-top: 30px;
    line-height: 1.5;
}
.header-section h1, .header-section h2 {
    text-shadow: 2px 2px 2px black;
}
.contact-button {
    border-radius: 10px;
    margin-top: 40px;
}

.home-page-text-row {
    padding: 100px 30px 50px 30px;
    text-align: center;
    line-height: 2;
}

.home-page-img-row img {
    border-radius: 10px;
}
.btn-travel, .contact-button {
    background: var(--fourth-color);
    padding: 10px 100px;
  
    color: black;
    text-transform: uppercase;
}
.social-row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 40px;
}
.social-row img:hover {
    opacity: 0.5;
}
.footer-line {
   color: var(--fourth-color);
  border-width: 3px;

}
.about-page-section {

}
.about-page-section img {
    border-radius: 20px;
}
.contact-block {
    text-align: center;
    margin-top: 10%;
}
.contact-block a {
    text-decoration: none;
    color: #000000;
}
.contact-block a:hover {
    color: var(--fourth-color);
}
.trip-info-block {
    display: flex;
    flex-direction: column;
}
.trip-text {
    flex-grow: 1;
}
.trip-img-block {
    display: flex;
    align-items: center;
}
@media (max-width: 576px) {
    .home-page-text-row {
            padding: 40px;
            font-size: 20px;
            text-align: center;
            line-height: 1.5;
        }
    .btn-travel {
        font-size: 16px;
    }
    .img-logo {
        width: 150px;
    }
    .main-menu {
        font-size: 16px;
    }
    .contact-button {
        text-transform: none;
        padding: 10px 50px;
    }
        .header-section h2 {
            line-height: 1.2;
        }
   .trip-info-block h2 {
       margin: 20px auto;
       line-height: 1;
   }
}