:root {
    --heading-font: 'Josefin Sans',
        sans-serif;
    --text-font: 'Joan',
        serif;
    --first-color: #deecfc;
    --second-color: #b9ceeb;
    --third-color: #87a8d0;
    --fourth-color: #c3b4d2;
}

body {
font-family: var(--text-font);
}

h1, h2 {
    font-family: var(--heading-font);
}
.main-navigation, .footer {
    background-color: var(--third-color);
}
.main-menu {
    justify-content: end;
}
.header-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bali.jpeg);
    background-size: cover;
    color: #fff;
    padding: 200px 10px;
    text-align: center;
}
.header-section h2 {
    font-family: var(--text-font);
    margin-top: 30px;
}
.header-section h1, .header-section h2 {
    text-shadow: 2px 2px 2px black;
}
.contact-button {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 40px;
}

.main-page {
    padding: 0;
}
.text-section {
    background: var(--first-color);
}
.main-img-row {
    background: var(--fourth-color);
}
.home-page-text-row {
    padding: 100px 30px;
    font-size: 32px;
    text-align: center;
    line-height: 2;
}
.home-page-img-row {
    padding: 50px 5px;
}
.home-page-img-row img {
    border-radius: 10px;
}
.btn-travel {
    background: var(--fourth-color);
    padding: 10px 100px;
    font-size: 25px;
    color: #ffffff;


}
@media (max-width: 576px) {
    .home-page-text-row {
            padding: 40px;
            font-size: 20px;
            text-align: center;
            line-height: 1.5;
        }
    .btn-travel {
        font-size: 16px;
    }
}